@font-face {
  font-family: sega;
  src: url(./containers/SEGA.TTF);
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2a6568, #113550);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

h1 {
  font-family: sega;
  font-weight: 100;
  color: #00ccff;
}

.loading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

